# Ignore node_modules directory
node_modules
.pnp
.pnp.js
.pnpm-store

# Ignore build directories
.next
out
build
dist

# Ignore logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore temporary files
*.swp
*.swo
*.tmp

# Ignore test files
__tests__
*.spec.js
*.spec.ts
*.test.js
*.test.ts

# Ignore environment files (only if not needed in production)
.env.local
.env.development
.env.test
.env.*.local

# Ignore Dockerfile and docker-compose files if not needed in the final image
Dockerfile
Dockerfile.**
docker-compose.yml
docker-compose.**.yml
docker-compose.override.yml

# Ignore editor directories and files
.vscode
.idea
*.sublime-project
*.sublime-workspace

# Ignore miscellaneous files
.DS_Store
Thumbs.db

# Ignore Git files
.git
.gitignore
.gitattributes

# vercel
.vercel

# typescript
*.tsbuildinfo

# turbo
.turbo
turbod

# railway
railway.json
